/*

[Theme Color Stylesheet]

Project: SSDCloud - Multipurpose Hosting with WHMCS and Technology Business Template
Version: 1.1
Author : themelooks.com

*/

/*------------------------------------*\
    COLOR
\*------------------------------------*/
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus,
.bg-color--theme .btn-default:hover,
.bg-color--theme .btn-default:focus,
.bg-color--theme .btn-default:active,
.bg-color--theme .btn-default:active:hover,
.bg-color--theme .btn-default:active:focus,
.bg-color--theme .btn-default:active.focus,
.bg-color--theme .btn-default.focus,
.bg-color--theme .btn-default.active,
.bg-color--theme .btn-default.active:hover,
.bg-color--theme .btn-default.active:focus,
.bg-color--theme .btn-default.active.focus,
.bg-color--theme .open > .dropdown-toggle.btn-default,
.bg-color--theme .open > .dropdown-toggle.btn-default:hover,
.bg-color--theme .open > .dropdown-toggle.btn-default:focus,
.bg-color--theme .open > .dropdown-toggle.btn-default.focus,
.panel-title a,
.panel-title a.collapsed:hover,
.panel-title a.collapsed:focus,
.owl--dots .owl-nav .fa:hover,
.tags--widget .nav li a:hover,
.about-widget--social > li > a:hover,
.about-widget--social > li > a:focus,
.page--sidebar-nav .nav > li:hover > a,
.page--sidebar-nav .nav > li.active > a,
.header--topbar .nav > li > a:hover,
.header--topbar .nav > li > a:focus,
.header--nav-links > li > a:hover,
.header--nav-links > li > a:focus,
.header--nav-links > li.active > a,
.header--nav-links > li.active > a,
.header--nav-links > li.open > a,
.header--nav-links > li.dropdown > .dropdown-menu > li > a:hover,
.header--nav-links > li.dropdown > .dropdown-menu > li > a:focus,
.header--nav-links > li.dropdown > .dropdown-menu > li.active > a,
.header--nav-links > li.dropdown.megamenu > .dropdown-menu > .nav > li > a:hover,
.header--nav-links > li.dropdown.megamenu > .dropdown-menu > .nav > li > a:focus,
.header--nav-links > li.dropdown.megamenu > .dropdown-menu > .nav > li.active > a,
.page-header--breadcrumb .breadcrumb > li.active,
.banner--slider-nav li .content a,
.banner--offer-content .h2,
.feature--icon .fa,
.pricing--content.ribbon:before,
.pricing--features .fa-check-square-o,
.services-tab--nav ul li a:hover,
.services-tab--nav ul li a:focus,
.services-tab--nav ul li.active a,
.team--member-socai .nav > li > a:hover,
.team--member-socai .nav > li > a:focus,
.gallery--content-sidebar .tags a:hover,
.gallery--content-sidebar .tags a:focus,
.gallery--content-sidebar .social li a:hover,
.gallery--content-sidebar .social li a:focus,
.product--price del,
.product--rating,
.product--rating .br-theme-bootstrap-stars .br-widget a.br-selected:after,
.product--rating .br-theme-bootstrap-stars .br-widget a.br-active:after,
.product--img figcaption .nav > li > a:hover,
.product--single-summery-meta .table td a.active,
.product--single-summery-meta .tags a:hover,
.product--single-summery-meta .tags a:focus,
.post--meta a:hover,
.post--action .social > li > a:hover > .fa,
.posts--cat .nav > li > a:hover,
.posts--tags .nav > li > a:hover,
.post--commenter-reply-btn:hover,
.login--form .checkbox a:hover,
.f0f--content p a,
.coming-soon--content .social .nav > li > a:hover,
.footer--widget > ul > li:hover > a,
.footer--widget > ul > li:hover:before,
.footer--copyright a,
.footer--copyright .fa {
    color: #8CBEB2;
}

/*------------------------------------*\
    BACKGROUND COLOR
\*------------------------------------*/
#preloader,
#backToTop a:before,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-primary,
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black:active:hover,
.btn-black:active:focus,
.btn-black:active.focus,
.btn-black.focus,
.btn-black.active,
.btn-black.active:hover,
.btn-black.active:focus,
.btn-black.active.focus,
.open > .dropdown-toggle.btn-black,
.open > .dropdown-toggle.btn-black:hover,
.open > .dropdown-toggle.btn-black:focus,
.open > .dropdown-toggle.btn-black.focus,
.bg-color--theme,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:hover,
.pagination > li > span:hover,
.pagination > li > span:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:hover,
.header--navbar .navbar-toggle,
.header--nav-links > li > a:before,
.banner--slider .owl-prev,
.banner--slider .owl-next,
.banner--slider-nav li .icon:before,
.banner--slider-nav li .icon .fa:after,
.domain-search--form .input-group,
.pricing--content:hover .pricing--header,
.pricing--content.active .pricing--header,
.pricing--content:hover .pricing--icon:before,
.pricing--content.active .pricing--icon:before,
.pricing--content:hover .pricing--icon .fa,
.pricing--content.active .pricing--icon .fa,
.pricing--content:hover .pricing--icon .fa:after,
.pricing--content.active .pricing--icon .fa:after,
.pricing--table .btn-default:hover,
.pricing--table .btn-default:focus,
.vps-pricing--slider.ui-widget:after,
.vps-pricing--slider .ui-slider-range,
.vps-pricing--slider .ui-slider-handle,
.counter--item:after,
.service--icon:before,
.services-tab--nav ul li .tooltip-inner,
.services-tab--nav ul li a:hover:before,
.services-tab--nav ul li a:focus:before,
.services-tab--nav ul li.active a:before,
.testimonial--item blockquote:before,
.product--sale-tag,
.product--single-img a.expend:after,
.product--img figcaption .nav > li .tooltip-inner,
.product--single-summery-meta .btn-group .btn.cart .fa,
.product--single-summery-meta .btn-group .btn-default:hover,
.product--single-summery-meta .btn-group .btn-default:focus,
.product--single-summery-meta .btn-group .btn-default.active {
    background-color: #8CBEB2;
}

::-moz-selection {
    background-color: #8CBEB2;
}

::selection {
    background-color: #8CBEB2;
}

/*------------------------------------*\
    BORDER COLOR
\*------------------------------------*/
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-primary,
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black:active:hover,
.btn-black:active:focus,
.btn-black:active.focus,
.btn-black.focus,
.btn-black.active,
.btn-black.active:hover,
.btn-black.active:focus,
.btn-black.active.focus,
.open > .dropdown-toggle.btn-black,
.open > .dropdown-toggle.btn-black:hover,
.open > .dropdown-toggle.btn-black:focus,
.open > .dropdown-toggle.btn-black.focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:hover,
.pagination > li > span:hover,
.pagination > li > span:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:hover,
.tags--widget .nav li a:hover,
.header--navbar .navbar-toggle,
.header--nav-links > li.dropdown.megamenu > .dropdown-menu > .nav > li > a:hover,
.header--nav-links > li.dropdown.megamenu > .dropdown-menu > .nav > li > a:focus,
.header--nav-links > li.dropdown.megamenu > .dropdown-menu > .nav > li.active > a,
.banner--slider-nav li:hover .icon .fa,
.banner--slider-nav li.active .icon .fa,
.feature--icon .fa,
.pricing--table .btn-default:hover,
.pricing--table .btn-default:focus,
.gallery--content-sidebar .tags a:hover,
.gallery--content-sidebar .tags a:focus,
.posts--tags .nav > li > a:hover,
.posts--tags .nav > li > a:focus,
.login--form .checkbox a:hover {
    border-color: #8CBEB2;
}

.services-tab--nav ul li:after,
.services-tab--nav ul li .tooltip.top .tooltip-arrow,
.product--img figcaption .nav > li .tooltip.top .tooltip-arrow {
    border-top-color: #8CBEB2;
}

.nav-tabs > li.active + li > a,
.nav-tabs > li:hover + li > a,
.checkout--info,
.page--sidebar-nav .nav > li:hover > a,
.page--sidebar-nav .nav > li.active > a,
.page--sidebar-widget > .h4 {
    border-left-color: #8CBEB2;
}

.product--single-summery-meta .tags a:hover,
.product--single-summery-meta .tags a:focus {
    border-bottom-color: #8CBEB2;
}
